.BTitle{
    color: rgb(166, 89, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.Bcard{
    display: flex;
    /* flex-wrap: wrap; */
    background-color: rgb(255, 231, 206);
    width: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
.Bcontent{
    max-width: 80%;
}
.Bcontent p,h3 {
    width: 90%;
    text-align: justify;
    line-height: 1.5; 
    margin: 10px 0;
    padding: 5px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.Bimg img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}


.banner-container {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    width: 100%;
}

.banner video {
    width: 100%;
    height: 600px;
    object-fit: cover; 
    display: block;  /* Prevents extra spacing */
}


@media (max-width: 768px) {
    .Bcard {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .Bcontent p,h3 {
        width: 100%;
    }
}
